.header {
  min-height: 40vh;
  background: url("../../img/recipe-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__content {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      font-size: 0.8rem;
      color: rgb(68, 68, 68);
    }

    h2 {
      color: #ffffff;
      font-weight: 700;
      font-size: 2.5rem;
      padding: 1rem 0;
    }
  }
  &__search {
    margin-top: 1.5rem;
    button {
      width: 350px;
    }
  }
}

@media (max-width: 800px) {
  .header {
    &__content {
      h2 {
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
  }
}
