.meals {
  text-align: center;
  padding: 2rem 0;
  background-color: #00695c;
  color: #fff;
  .meal {
    position: relative;
    &__category,
    &__area {
      position: absolute;
      top: 36px;
      background-color: #00695c;
      padding: 0.2rem;
      border-radius: 0.5rem;
    }

    &__category {
      right: 10px;
    }

    &__area {
      left: 40px;
    }

    &__ingre {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__desc {
      padding: 1rem;
      text-align: justify;
      h5 {
        text-align: center;
        padding: 0.5rem 0;
      }
      p {
        line-height: 1.5;
        font-size: 1rem;
      }
    }
    &__video {
      color: rgb(0, 0, 0);
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

img {
  max-width: 95%;
  border-radius: 1rem;
  height: 22rem;
}

@media (max-width: 600px) {
  .meals {
    .meal {
      &__category {
        .tag {
          display: none !important;
        }
      }
    }
  }
}
